// font pairs
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Lora:ital@1&family=Montserrat:wght@700&display=swap');

$font-family-sans-serif:    'Hind Madurai', sans-serif;
$font-weight-base:          300;
$headings-font-family:      'Lora', serif;
$headings-font-style:       null;
$headings-font-weight:      400;
$display-font-family:       'Montserrat', sans-serif;
$display-font-style:        null;
$display-font-weight:       700;


// colors
$light:         hsl(300, 100%, 99%);
$dark:          hsl(30, 11%, 11%);
$accent:        hsl(340, 67%, 48%);
$primary:       hsl(200, 67%, 28%);
$secondary:     hsl(160, 38%, 86%);

// NavLinks
$nav-link-color:        $dark;
$nav-link-hover-color:  $accent;

// NavPills
// $nav-pills-border-radius:    0rem;
$nav-pills-link-active-color:   $light;
$nav-pills-link-active-bg:      $accent;

// Global border radius
$border-radius:        0rem;
// $border-radius-sm:  0rem;
// $border-radius-lg:  0rem;

// // button border radius
// $btn-border-radius:     0rem;
// $btn-border-radius-sm:  0rem;
// $btn-border-radius-lg:  0rem;

// Collapse Transitions
$transition-collapse:         height .65s ease-in;
$transition-collapse-width:   width .65s ease-in;
